:root {
  background-color: rgb(228, 221, 221);
  font-family: "Arimo", sans-serif;
  margin: 0px 20px 20px 20px;
}

h1 {
  font-size: 130px;
  text-align: center;
}

h2 {
  font-size: 100px;
}

.pages-container {
  display: flex;
  justify-content: center;
}

.page-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 200px 80px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: rgba(235, 235, 235, 0.733);
}

.page-block img {
  width: 130px;
}

button {
  border-radius: 8px;
  padding: 10px;
  width: 140px;
  margin-top: 40px;
}

nav {
}

a {
  text-decoration: none;
  margin: 20px;
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: rgba(235, 235, 235, 0.733);
  border-radius: 10px;
  margin: 10px;
  margin-left: 420px;
  margin-right: 420px;
  height: 100px;
}

.author-card img {
  width: 70px;
  padding: 10px;
  margin-left: 40px;
}

.author-card p {
  font-size: 25px;
  margin-left: 80px;
}

small {
  font-size: 18px;
}

.comic-action-button {
  display: flex;
}

.comic-action-button button {
  width: 60px;
}

.publisher-intro {
  margin: auto 30px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publisher-intro p {
    width: 50vw;
    text-align: justify;
}

.publisher-intro img {
  width: 200px;
}

.character-details h3{
    text-align: center;
    font-size: 30px;
}

.character-details {
    display: flex;
    flex-direction: column;
	align-items: center;
    text-align: justify;
    gap: 20px;
}


.character-intro {
    display: flex;
    justify-content: center;
	align-items: center;
    margin: 20px 20px 0px 20px;
    padding: 20px;
    /* border-bottom: 2px solid; */
}

.character-intro img {
    width: 200px;
}

.character-name-and-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
    text-align: justify;
    width: 900px;
    gap: 20px;
}

.character-name-and-intro p{
    margin: 0px;
    line-height: 30px;
}

.character-name-and-intro h1 {
    margin: 0;
}

.genInfo-table {
    padding: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 2px solid; */
}

ul, li {
    list-style-type: none;
}

.genInfo-table table {
    width: 500px;
    border-collapse: collapse;
    border: 5px inset rgb(160, 204, 192) ;
  }

  th, td {
    padding: 20px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
  }

tr:nth-child(even) {
    background-color: #fff;
  }
  
  tr:nth-child(odd) {
    background-color: transparent;
  }

  .character-history {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 30px;
  }
